const char *ssid = "SSID";
const char *password = "PASS";
const char *mqttServer = "example.com";
const char *mqttUser = "user";
const char *mqttPassword = "password";
const char *mqttTopicBase = "/sensors/";
const int mqttPort = 1883;
const char *sensorId = "pcb_01"; // mqtt topic will be /sensors/pcb_01/

int gmtOffset_sec = 0;
int daylightOffset_sec = 3600;
const char *Timezone = "CET-1CEST,M3.5.0,M10.5.0/3"; // https://github.com/nayarsystems/posix_tz_db/blob/master/zones.csv

bool enableLedsInNight = false; // when false leds will be set to minimum brightness at night
int wakeupHour = 6;             // normal brightness leds 6:00
int sleepHour = 22;             // reduce leds brightness 22:00