const char *mqttServer = "example.com";
const char *mqttUser = "user";
const char *mqttPassword = "password";
const char *mqttTopicBase = "/sensors/";
const int mqttPort = 1883;
const char *sensorId = "pcb_01"; // mqtt topic will be /sensors/pcb_01/